<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginName>JSONService</PluginName>
  <SDUserName></SDUserName>
  <SDPassword></SDPassword>
  <SDCountry></SDCountry>
  <SDPostalCode></SDPostalCode>
  <NrOfDaysToImport>2</NrOfDaysToImport>
  <LastImportedDay>20090101</LastImportedDay>
  <UpdateMode>NextDayOnly</UpdateMode>
  <ChannelNameFormat>{Name}</ChannelNameFormat>
  <UpdateChannelNames>true</UpdateChannelNames>
  <ProxyUserName />
  <ProxyPassword />
  <LogLevel>Info</LogLevel>
<!--LogLevel>Debug</LogLevel-->
  <GetAllProgramsAtOnce>true</GetAllProgramsAtOnce>
  <AntennaUseUhfVhfChannel>true</AntennaUseUhfVhfChannel>
</Config>