<?xml version="1.0" encoding="utf-8"?>
<!-- 
	Add countries here that are supported by Schedules Direct. See this link for supported countries:
 	http://forums.schedulesdirect.org/viewtopic.php?f=16&t=2616

	Codes based from here: http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3 
-->
<Countries>
  	<Country Name="Canada" Code="CAN" />
	<Country Name="United States" Code="USA" />
	<Country Name="Mexico" Code="MEX" />
	<Country Name="Denmark" Code="DNK" />
	<Country Name="Finland" Code="FIN" />
	<Country Name="United Kingdom" Code="GBR" />
	<Country Name="Sweden" Code="SWE" />
	<Country Name="Argentina" Code="ARG" />
	<Country Name="Belize" Code="BLZ" />
	<Country Name="Brazil" Code="BRA" />
	<Country Name="Chile" Code="CHL" />
	<Country Name="Columbia" Code="COL" />
	<Country Name="Costa Rica" Code="CRI" />
</Countries>